<!DOCTYPE html>
<html>
<head>
  <title>Family</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li> <a href = "Home">Home</a></li>
    <li> <a href = "About">About</a></li>
    <li> <a href = "Project">Project</a></li>
    <li> <a href = "Service">Service</a></li>
    <li> <a href = "Contact">Contact</a></li>
  </ul>

</nav>
