<%include ./headerandfooter/Header.ejs %>

  <h1><span>Hi! I'm <em>Manthan Bhalla</em><br/>
            <br/>
        </span>
    <div class="h1small">
      I am pursuing <em>Computer programming</em> at Georgian College
      <br />
      This is my <em>Portfolio</em>
    </div>
  </h1>

<%include ./headerandfooter/Footer.ejs %>